# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
boolret
doc_dump.txt
dump.bin
vecret

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
.vscode

## Testdata
docs.txt
qrel.txt
queries.txt
out